
:root {
    --menu-margin: 6vw;
    /* --background-color: radial-gradient(circle, #E6EBE0 0%, #F4F1BB 100%);
    --menu-text-color: #ED6A5A;
    --default-color: #5D576B;  */
    --background-color: radial-gradient(circle, #FDCEB9 0%, #FDCEB9 100%);
    --menu-text-color: #D885A3;
    --default-color: #655D8A;
    --top-margin: 30px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
*
{
    margin: 0;
    padding: 0;
    
}

html
{
    font-family: var(--font);
    background: var(--background-color);
    color: var(--menu-text-color);
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -4;

}




header{
    position: fixed;
    z-index: 2;
    background: inherit;
    width: 100vw;
    height: 10vh;
    top: 0;
}

/*loading bar*/
.loading-bar
{
    position: absolute;
    top:50%;
    height: 2px;
    width: 100%;
    background: #ffffff;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin:top left;
    will-change: transform;
}

.loading-bar.ended
{
    transform-origin: top right;
    transition: transform 1.5s ease-in-out;

}

.point
{
    position: absolute;
    top: 50%;
    left:50%;
    z-index: 3;
}

.point:hover .text
{
    opacity: 1;
}

.point.visible .label
{
    transform: scale(1,1);
}

.point .label
{
    position: absolute;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #00000077;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    font-weight: 100;
    cursor: help;
    transform: scale(0,0);
    transition: transform 0.3s;
}

.point .text
{
    position: absolute;
    top: 30px;
    width: 200px;
    background: #00000077;
    color: #ffffff;
    line-height: 1.3em;
    font-size: 14px;
    font-weight: 100;
    left: -120px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}


.container_section
{
    opacity: 0;
    transition: opacity 1.5s;
}
.container_section.visible
{
    opacity: 1;
    transition: opacity 0.1s;
}

/* nav */
a {
    text-decoration:none
}
.main-nav li {
    list-style:none
}
ul {    
    margin:0
}
.main-nav {
    width:100vh;    
    height:6vw;
    position:fixed;
    -webkit-transform-origin: left top;
    -webkit-transform:rotate(-90deg) translateX(-100%);
}
ul.nav {    
    margin:0 auto;
    height:100%;        
}

ul.nav li {    
    margin-right:20px;
    float:right;
    height:100%;
    line-height:calc(10px + 4vw); 
}

ul.nav li:first-of-type {
    margin-right:15vh;
}
ul.nav li a {           
    color: var(--menu-text-color);    
}

ul.nav li a:hover{           
    color: var(--default-color)!important;  
    font-size: 22px;  
}

#about_nav {
    color: var(--default-color);    
}

#name {
    float:left;
    margin-top: 6vh;
    margin-left: var(--menu-margin);
    color: var(--default-color); 
    font-size: 10vw; 
}


a.title {
    display: block;
    text-decoration: none;
    position:fixed;
    margin-left: var(--menu-margin);
    margin-top: 2vh;
    color: var(--default-color);
    cursor: pointer!important;

}

[onClick] {
    cursor:pointer;
}

/* CONTAINER */

.container{
    margin-left: calc(10px + var(--menu-margin)); 
    margin-right: var(--menu-margin);
    margin-top: var(--top-margin);
}

section {
    height: 100vh;
  }

h1{
    padding-top:5vh;
    text-align: right;
    color: var(--menu-text-color)
}

.description{
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-transform: uppercase;
}

.description span:after {
    content: "|";
    margin: 0 10px;
}
  
.description span:last-child:after {
    content: '';
    margin: 0 10px;
  }

#work_content > div{
    padding-bottom: 30px;
}

#work_content{
    text-align: justify;
    text-justify: auto ;
    padding-top: 4vh;
    width: 50vw;
}



.position{
    font-weight: bold;
    font-size:5vw;
    text-align: left;
    display: block;
}

.company{
    font-size:2vw;
}

.duration{
    font-size:2vw;
}

.location{
    font-size:2vw;
}

.acomplishments{
    font-size:2vw;
}

.acomplishments ul{
    padding-left: 2em;
}

.acomplishments li{
    list-style:none;
}

.acomplishments li:not(:last-child){
    padding-bottom: 5px;
}

.acomplishments li::before{
    content: '▹';
    /* content: '›'; */
    margin: 0 10px;
    
}

#education ul.twocols{
    column-count: 2;
}

#plane_section
{
    height:50vh;
}


/* Slideshow container */
#work{
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
.slides {
display: none;
}
  
.active {
background-color: #717171;
}

.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}


.popups{
    display: none;
    backdrop-filter: blur(10px);
    background: rgba(51,51,51,0.7);
    width: 60vw;
    min-height: 75vh;
    padding: 2vw;
    margin: 10px auto;
}

.close {
    cursor: pointer;
    position: absolute;
    right: 0%;
    padding: 0px 16px;
    font-size: 30px;
  }
  
.close:hover {color: #bbb;}

/* 
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    backdrop-filter: blur(10px);
    background: rgba(51,51,51,0.7);
    z-index: 10;
  } */